<h2><%= @post.title %></h2>
<div align="right">
	<strong>User:</strong>
  	<%= @post.user.username %>	
</div> 


<div style="width:400px; height:auto">
	<%= image_tag(@post.image, style:'width:100%') if @post.image.attached? %>
</div><br>

<p><%= @post.body %></p>

<% if user_signed_in? %>
	<% if @post.user.id == current_user.id %>
		<hr>
		<%= link_to "Edit", edit_post_path(@post), :class => 'btn btn-default' %>
		<%= link_to "Delete", post_path(@post),
						method: :delete,
						data: {confirm: 'Are you sure?'},
						:class => 'btn btn-danger' %>
		<hr>

	<% end %>
<% end %>
<% if user_signed_in? %>
	<h3>Comments</h3>
<% end %>
<% @post.comments.each do |comment| %>
  <div class="well">
  <p><strong><%= comment.user.username %></strong>: <%= comment.body %></p>
	  <% if user_signed_in? %>
		  <% if comment.user.email == current_user.email %>
			<%= link_to '[X]', [comment.post, comment],
					method: :delete,
					data: { confirm: 'Are you sure?' } %>
		<% end %>
	  <% end %>
  </div>
<% end %>
<% if user_signed_in? %>
	<h3>Add Comment</h3>
	<%= form_for([@post, @post.comments.build]) do |f| %>
	  <p>
		<%= f.label :body %><br>
		<%= f.text_area(:body, {:class => 'form-control'}) %>
	  </p>
	  <p>
		<%= f.submit({:class => 'btn btn-default'}) %>
	  </p>
	<% end %>
<% else %>
	<h3>Please Sign in(You can't comment)</h3>
<% end %>

